<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
	</head>

	<body>
		<h1>
			Confirm your email address
		</h1>

		<a href="{{ link }}">LINK</a>

		Or paste the address:
		<br />
		{{ link }}
	</body>
</html>
