# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit these file
.env
.env-frontend

.env-prod
.env-frontend.prod

# Frontend
.awcache/
frontend/css/index.css
public/*
!public/logo.png
!public/logo-icon.png
!public/favicon.ico
!public/offline.html
!public/manifest.json
!public/app-icon.png
dist/

# Other
.importjs.js

# Deployment articacts

deployment/deploy-cache/*
cypress/videos
cypress/screenshots
cypress.env.json

data/

.vscode
