* {
	box-sizing: border-box;
	line-height: 24px;
}

/* https://palx.jxnblk.com/ */
/* https://mycolor.space/?hex=%231554FF&sub=1 */
/* https://colordesigner.io/ */
/* https://colors.eva.design/ */

/* https://github.com/feathericons/react-feather */

:root {
	--brand-blue: #1554ff;

	--white: #ffffff;

	--gray-0: #f9f9fa;
	--gray-1: #ecedf1;
	--gray-2: #dfe1e6;
	--gray-3: #d0d3db;
	--gray-4: #c0c4ce;
	--gray-5: #aeb3c0;
	--gray-6: #9aa0b1;
	--gray-7: #81899e;
	--gray-8: #656c7e;
	--gray-9: #3b3f4a;
}

html {
	font-family: "Noto Sans";
}

body {
	background-color: var(--gray-1) !important;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ----------------------------------------------------- */
/* Margins */
/* ----------------------------------------------------- */

/* Margin top */
*[data-mt="6"] {
	margin-top: 6px;
}
*[data-mt="12"] {
	margin-top: 12px;
}
*[data-mt="24"] {
	margin-top: 24px;
}
*[data-mt="48"] {
	margin-top: 48px;
}
*[data-mt="72"] {
	margin-top: 72px;
}
*[data-mt="auto"] {
	margin-top: auto;
}

/* Margin right */
*[data-mr="6"] {
	margin-right: 6px;
}
*[data-mr="12"] {
	margin-right: 12px;
}
*[data-mr="24"] {
	margin-right: 24px;
}
*[data-mr="48"] {
	margin-right: 48px;
}
*[data-mr="72"] {
	margin-right: 72px;
}
*[data-mr="auto"] {
	margin-right: auto;
}

/* Margin bottom */
*[data-mb="6"] {
	margin-bottom: 6px;
}
*[data-mb="12"] {
	margin-bottom: 12px;
}
*[data-mb="24"] {
	margin-bottom: 24px;
}
*[data-mb="48"] {
	margin-bottom: 48px;
}
*[data-mb="72"] {
	margin-bottom: 72px;
}
*[data-mb="auto"] {
	margin-bottom: auto;
}

/* Margin left */
*[data-ml="6"] {
	margin-left: 6px;
}
*[data-ml="12"] {
	margin-left: 12px;
}
*[data-ml="24"] {
	margin-left: 24px;
}
*[data-ml="48"] {
	margin-left: 48px;
}
*[data-ml="72"] {
	margin-left: 72px;
}
*[data-ml="auto"] {
	margin-left: auto;
}

/* ----------------------------------------------------- */
/* Paddings */
/* ----------------------------------------------------- */

/* Padding */
*[data-p="6"] {
	padding: 6px;
}
*[data-p="12"] {
	padding: 12px;
}
*[data-p="24"] {
	padding: 24px;
}
*[data-p="48"] {
	padding: 48px;
}
*[data-p="72"] {
	padding: 72px;
}
*[data-p="auto"] {
	padding: auto;
}

/* Padding horizontal */
*[data-px="6"] {
	padding-left: 6px;
	padding-right: 6px;
}
*[data-px="12"] {
	padding-left: 12px;
	padding-right: 12px;
}
*[data-px="24"] {
	padding-left: 24px;
	padding-right: 24px;
}
*[data-px="48"] {
	padding-left: 48px;
	padding-right: 48px;
}
*[data-px="72"] {
	padding-left: 72px;
	padding-right: 72px;
}
*[data-px="auto"] {
	padding-left: auto;
	padding-right: auto;
}

/* Padding vertical */
*[data-py="6"] {
	padding-top: 6px;
	padding-bottom: 6px;
}
*[data-py="12"] {
	padding-top: 12px;
	padding-bottom: 12px;
}
*[data-py="24"] {
	padding-top: 24px;
	padding-bottom: 24px;
}
*[data-py="48"] {
	padding-top: 48px;
	padding-bottom: 48px;
}
*[data-py="72"] {
	padding-top: 72px;
	padding-bottom: 72px;
}
*[data-py="auto"] {
	padding-top: auto;
	padding-bottom: auto;
}

/* Padding top */
*[data-pt="6"] {
	padding-top: 6px;
}
*[data-pt="12"] {
	padding-top: 12px;
}
*[data-pt="24"] {
	padding-top: 24px;
}
*[data-pt="48"] {
	padding-top: 48px;
}
*[data-pt="72"] {
	padding-top: 72px;
}
*[data-pt="auto"] {
	padding-top: auto;
}

/* Padding right */
*[data-pr="6"] {
	padding-right: 6px;
}
*[data-pr="12"] {
	padding-right: 12px;
}
*[data-pr="24"] {
	padding-right: 24px;
}
*[data-pr="48"] {
	padding-right: 48px;
}
*[data-pr="72"] {
	padding-right: 72px;
}
*[data-pr="auto"] {
	padding-right: auto;
}

/* Padding bottom */
*[data-pb="6"] {
	padding-bottom: 6px;
}
*[data-pb="12"] {
	padding-bottom: 12px;
}
*[data-pb="24"] {
	padding-bottom: 24px;
}
*[data-pb="48"] {
	padding-bottom: 48px;
}
*[data-pb="72"] {
	padding-bottom: 72px;
}
*[data-pb="auto"] {
	padding-bottom: auto;
}

/* Padding left */
*[data-pl="6"] {
	padding-left: 6px;
}
*[data-pl="12"] {
	padding-left: 12px;
}
*[data-pl="24"] {
	padding-left: 24px;
}
*[data-pl="48"] {
	padding-left: 48px;
}
*[data-pl="72"] {
	padding-left: 72px;
}
*[data-pl="auto"] {
	padding-left: auto;
}

/* ----------------------------------------------------- */
/* Widths */
/* ----------------------------------------------------- */

*[data-width="100%"] {
	width: 100%;
}

*[data-width="auto"] {
	width: auto !important;
}

/* ----------------------------------------------------- */
/* Alignments */
/* ----------------------------------------------------- */

*[data-main-axis="start"] {
	justify-content: flex-start;
}
*[data-main-axis="between"] {
	justify-content: space-between;
}
*[data-main-axis="end"] {
	justify-content: flex-end;
}

*[data-cross-axis="start"] {
	align-items: flex-start;
}
*[data-cross-axis="center"] {
	align-items: center;
}
*[data-cross-axis="baseline"] {
	align-items: baseline;
}
*[data-cross-axis="end"] {
	align-items: flex-end;
}

[data-reach-dialog-content] {
	margin-top: 120px;
}
