* {
	box-sizing: border-box;
	line-height: 24px;
}

:root {
	--white: #ffffff;
	--gray-1: #f9f8f8;
	--brand-blue: #1554ff;

	--body-background: var(--gray-1);
}

html {
	font-family: "Noto Sans";
}

body {
	background-color: var(--body-background);
}
