.c-header {
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.02em;
	font-weight: 500;
	color: var(--gray-10);
}

.c-header[data-variant="extra-small"] {
	font-size: 18px;
}
.c-header[data-variant="small"] {
	font-size: 20px;
}
.c-header[data-variant="medium"] {
	font-size: 22px;
}
.c-header[data-variant="large"] {
	font-size: 24px;
}

@media (max-width: 768px) {
	.c-header[data-lg-variant="extra-small"] {
		font-size: 18px;
	}
	.c-header[data-lg-variant="small"] {
		font-size: 20px;
	}
	.c-header[data-lg-variant="medium"] {
		font-size: 22px;
	}
	.c-header[data-lg-variant="large"] {
		font-size: 24px;
	}
}
