.c-input {
	height: 36px;
	font-size: 12px;
	color: #363434;
	padding: 0 10px;
	background: white;
	border: 1px solid #f0f0f0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	transition: all 0.5s;
	border-radius: 3px;
}

.c-input:hover,
.c-input:focus {
	border: 1px solid #e0dede;
	border-radius: 0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.c-input:active,
.c-input:disabled {
	border: 1px solid #c7c4c4;
}

.c-input:disabled {
	opacity: 0.6;
	background: #e8e7e7;
}

.c-input:disabled.c-input:hover {
	border-radius: inherit;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.c-input:invalid {
	border: 1px solid #9e1738;
}

.c-input:placeholder-shown {
	color: #8d8888;
}

.c-input:required.c-input:placeholder-shown {
	border: 1px solid #f0f0f0;
}
