@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	.c-radio {
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 24px;
		height: 23px;
		margin: 0;
		padding: 0;
		outline: none;
		cursor: pointer;
		background: var(--gray-1);
		border: 1px solid var(--gray-3);
		border-radius: var(--radius-half);
	}
	.c-radio:hover,
	.c-radio:focus:not(:disabled),
	.c-radio:checked:not(:disabled) {
		border-color: var(--gray-7);
		transition: border-color 400ms;
	}
	.c-radio:active:not(:disabled),
	.c-radio:focus:not(:disabled),
	.c-radio:checked:not(:disabled) {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	}

	.c-radio:disabled:hover {
		cursor: not-allowed;
		opacity: 0.8;
		background: white;
		border-color: #bebcbc;
		/* TODO: remove transition all */
		transition: all 300ms;
	}
	.c-radio:disabled:hover::after {
		background: white;
	}

	.c-radio::after {
		position: absolute;
		content: "";
		top: calc(50% - 4px);
		left: calc(50% - 4px);
		height: 8px;
		width: 8px;
		background: var(--gray-9);
		border-radius: var(--radius-half);
		opacity: 0;
		/* TODO: remove transition all */
		transition: all 300ms;
	}
	.c-radio::after:hover:not(:disabled) {
		opacity: 1;
		background: var(--gray-8);
	}
	.c-radio:focus::after,
	.c-radio:checked::after {
		opacity: 1;
		background: var(--gray-10);
	}
}

.c-radio ~ .c-label {
	font-weight: 500;
}
