.c-badge {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	border-radius: 5px;
	font-weight: 600;
	padding: 0 12px;
}

.c-badge[data-variant="positive"] {
	color: #07620de3;
	background: #8fdf9491;
}

.c-badge[data-variant="negative"] {
	color: #9c343de3;
	background: #ffc4cd;
}
