.c-badge {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	border-radius: 5px;
	font-weight: 600;
	padding: 0 12px;
}

.c-badge[data-variant="positive"] {
	color: #07620de3;
	background: #8fdf9491;
}

.c-badge[data-variant="negative"] {
	color: #9c343de3;
	background: #ffc4cd;
}

.c-badge[data-variant="neutral"] {
	color: var(--gray-8);
	background: var(--gray-2);
}

.c-badge[data-variant="light"] {
	color: #568187;
	background: #b9e4ea;
}

.c-badge[data-variant="normal"] {
	color: #5d6987;
	background: #cad6f4;
}

.c-badge[data-variant="strong"] {
	color: #2d2d77ad;
	background: #b4b4ef;
}
