.c-label {
	line-height: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.4px;
	color: var(--gray-10);
}

.c-label[data-variant="optional"]::after {
	margin-left: 6px;
	text-transform: lowercase;
	content: "(optional)";
}

.c-input:focus + .c-label,
.c-textarea:focus + .c-label {
	text-decoration: underline;
}
