button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.c-button {
	box-sizing: border-box;
	height: 36px;
	border: none;
	padding: 0 var(--spacing-s) 0 var(--spacing-s);
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: var(--radius-m);
	white-space: nowrap;
}

.c-button:hover {
	cursor: pointer;
	border-radius: 0;

	transition: border-radius 300ms;
}

.c-button:active,
.c-button:focus {
	cursor: pointer;
	border-radius: var(--radius-s);

	transition: border-radius 300ms;
}

.c-button:disabled {
	opacity: 0.6;
}
.c-button:disabled.c-button:hover {
	cursor: auto;
	box-shadow: none;
}

/* --secondary */
.c-button[data-variant="secondary"] {
	background-color: var(--gray-3);
	color: var(--gray-8);
	border: 1px solid #e0dede;
}
.c-button[data-variant="secondary"]:hover {
	background-color: var(--gray-4);
}
.c-button[data-variant="secondary"]:focus {
	background-color: var(--gray-4);
}
.c-button[data-variant="secondary"]:active {
	background-color: var(--gray-5);
}
.c-button[data-variant="secondary"]:disabled.c-button[data-variant="secondary"]:hover {
	background-color: var(--gray-3);
}

/* --primary */
.c-button[data-variant="primary"] {
	color: var(--gray-1);
	background-color: var(--gray-9);
}
.c-button[data-variant="primary"]:hover {
	background-color: var(--gray-8);
}
.c-button[data-variant="primary"]:active:not(:disabled) {
	background-color: var(--gray-7) !important;
}
.c-button[data-variant="primary"]:focus {
	background-color: var(--gray-8);
}
.c-button[data-variant="primary"]:disabled {
	opacity: 0.4;
}
.c-button[data-variant="primary"]:disabled.c-button[data-variant="primary"]:hover {
	background-color: var(--gray-9);
}

/* --outlined */
.c-button[data-variant="outlined"] {
	background: white;
	border: 2px solid var(--gray-2);
	color: var(--gray-8);
}
.c-button[data-variant="outlined"]:hover {
	background: var(--gray-0);
}
.c-button[data-variant="outlined"]:focus {
	background: var(--gray-0);
}
.c-button[data-variant="outlined"]:active {
	background: var(--gray-1);
}
.c-button[data-variant="outlined"]:disabled.c-button[data-variant="outlined"]:hover {
	background: white;
}

/* bare */
.c-button[data-variant="bare"] {
	background: inherit;
}
.c-button[data-variant="bare"]:hover {
	background: var(--gray-0);
	border-radius: var(--radius-m);
}

.c-button[data-variant="danger"] {
	border: 2px solid var(--red-dark);
	color: var(--red-dark);
}

.c-button[data-layout="with-icon"] {
	display: flex;
	justify-content: center;
	align-items: center;
}
