button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.c-button {
	height: 36px;
	border: none;
	padding: 0 5px 0 5px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 3px;
}

.c-button:hover {
	cursor: pointer;
	border-radius: 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

	transition: all 300ms;
}

.c-button:active,
.c-button:focus {
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

	transition: all 300ms;
}

.c-button:disabled {
	opacity: 0.6;
}
.c-button:disabled.c-button:hover {
	cursor: auto;
	box-shadow: none;
}

/* --normal */

/* https://www.0to255.com/e8e7e7 */

.c-button--normal {
	background-color: #e8e7e7;
	color: #363434;
}

.c-button--normal:hover {
	background-color: #d7d6d6;
}

.c-button--normal:focus {
	background-color: #c7c4c4;
}

.c-button--normal:active {
	background-color: #bebcbc;
}

.c-button--normal:disabled.c-button--normal:hover {
	background-color: #e8e7e7;
}
