.c-banner {
	display: flex;
	align-items: center;
	border-radius: 6px;
}

.c-banner[data-variant="info"] {
	background: var(--gray-2);
}

.c-banner[data-variant="error"] {
	background: #ffc4cd;
}

.c-banner[data-variant="success"] {
	background: #80dba4e6;
}
