.c-banner {
	display: flex;
	align-items: center;
	border-radius: 6px;
}

.c-banner[data-variant="info"] {
	background: var(--gray-2);
}

.c-banner[data-variant="error"] {
	background: var(--red-light);
}

.c-banner[data-variant="success"] {
	background: #80dba4e6;
}

.c-banner[data-size="small"] {
	padding: var(--spacing-xxs);
}

.c-banner[data-size="normal"] {
	padding: var(--spacing-xs);
}

.c-banner[data-size="big"] {
	padding: var(--spacing-s);
}
