div[data-state="hidden"],
div[data-state="visible"] {
	display: grid;
	place-items: center;
}

div[data-state="hidden"] > *,
div[data-state="visible"] > * {
	grid-area: 1/1;
}

*[data-for-state="hidden"],
*[data-for-state="visible"] {
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

div[data-state="hidden"] *[data-for-state="hidden"],
div[data-state="visible"] *[data-for-state="visible"] {
	transform: translateY(0%);
}

div[data-state="hidden"] *[data-for-state="visible"],
div[data-state="visible"] *[data-for-state="hidden"] {
	transform: translateY(-50%);
	opacity: 0;
}
