.c-textarea {
	margin: 0;
	margin-top: -1px;

	line-height: 24px;
	font-size: 12px;
	color: var(--gray-10);
	padding: calc(var(--spacing-s) - 2px); /* 2px come from borders */
	height: 96px;
	background: white;
	border: 1px solid var(--gray-0);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	transition: all 0.5s;
	border-radius: var(--radius-l);
	width: 100%;

	resize: none;

	-webkit-appearance: none;
	-moz-appearance: none;
}

.c-textarea:hover,
.c-textarea:focus {
	border-color: var(--gray-2);
	border-radius: 0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.c-textarea:active,
.c-textarea:disabled {
	border-color: var(--gray-1);
}

.c-textarea:disabled {
	opacity: 0.8;
	background: var(--gray-0);
}

.c-textarea:disabled.c-textarea:hover {
	border-radius: inherit;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* To avoid zooming on input focus on Chrome and Safari on iOS */
@media not all and (min-resolution: 0.001dpcm) {
	.c-textarea {
		font-size: 16px;
	}
}
