.c-textarea {
	margin: 0;
	margin-top: -1px;

	line-height: 24px;
	font-family: "Noto Sans";
	font-size: 12px;
	color: #363434;
	padding: calc(var(--spacing-s) - 2px); /* 2px come from borders */
	height: 96px;
	background: white;
	border: 1px solid #f0f0f0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	transition: all 0.5s;
	border-radius: 5px;
	width: 100%;

	resize: none;
}

.c-textarea:hover,
.c-textarea:focus {
	border-color: #e0dede;
	border-radius: 0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.c-textarea:active,
.c-textarea:disabled {
	border-color: #c7c4c4;
}

.c-textarea:disabled {
	opacity: 0.6;
	background: #e8e7e7;
}

.c-textarea:disabled.c-textarea:hover {
	border-radius: inherit;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
